<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="extra" value="https://www.myget.org/F/c336d179-1286-406d-b8ff-bfa3f49cd54e/api/v3/index.json" />	  
  </packageSources>
</configuration>
